@page "/TodoListInMemory"
<h3>TODO LIST</h3>
<h4>할일이 총 @todos.Count(t=>!t.IsDone)개 남았습니다. </h4>
<hr /> 

<form @onsubmit="@Save">
    할일 추가 : <input @bind="@newTodo"/>
            <input type="button" value="추가" @onclick="@Save" />
</form>
<hr/>


<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="@todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

@code {

    private string newTodo = "";
    private IList<TodoItem> todos = new List<TodoItem>();

    protected override void OnInitialized()
    {
        todos.Add(new TodoItem { Id = 1, Title = "할일1", IsDone = true });
    }

    void Save()
    {
        todos.Add(new TodoItem { Title = newTodo });
        newTodo = null;
    }
}